.anecdote-card {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 3px 3px rgb(194, 188, 188);
    text-align: center;
    margin-bottom: 30px;
}

h3::before,
h3::after {
    content: '""';
}

h3 {
    font-family: sans-serif;
    font-style: italic;
}

.anecdotes {
    margin-top: 20px;
    margin: auto;
    padding: 30px; 
}